<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>
        <h1>修改密码</h1>
           <a href=" {% url 'loginserver:编辑个人信息' %}">编辑个人信息</a>
           <a href=" {% url 'loginserver:修改密码' %}">修改密码</a>
           <a href=" {% url 'loginserver:用户中心' %}">用户中心</a>
           <a href=" {% url 'loginserver:主页' %}">回到主页</a>
           <a href=" {% url 'loginserver:登出' %}">退出登录</a>
        {{ 改密表单.errors }}
        <form action="" method="post">
             {%  csrf_token %}
                  <tr>
                      <th>
                          <label for="id_old_password">旧密码:</label>
                      </th>
                      <td>
                          <input type="password" name="old_password" autofocus required id="id_old_password">
                      </td>
                  </tr>
                <tr>
                    <th>
                        <label for="id_new_password1">新密码:</label>
                    </th>
                    <td>
                        <input type="password" name="new_password1" required id="id_new_password1">
                        <br><span class="helptext">
                        <ul>
                            <li>你的密码不能与其他个人信息太相似。</li>
                            <li>你的密码必须包含至少 8 个字符。</li>
                            <li>你的密码不能是大家都爱用的常见密码。</li>
                            <li>你的密码不能全部为数字。</li>
                        </ul>
                    </span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="id_new_password2">新密码确认:</label>
                    </th>
                    <td>
                        <input type="password" name="new_password2" required id="id_new_password2">
                    </td>
                </tr>

            <button type="submit">提交</button>
        </form>

</body>
</html>