<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑表单</title>
</head>
<body>
        <h1>编辑表单</h1>
           <a href=" {% url 'loginserver:编辑个人信息' %}">编辑个人信息</a>
           <a href=" {% url 'loginserver:修改密码' %}">修改密码</a>
           <a href=" {% url 'loginserver:用户中心' %}">用户中心</a>
           <a href=" {% url 'loginserver:主页' %}">回到主页</a>
           <a href=" {% url 'loginserver:登出' %}">退出登录</a>
        {{ 编辑表单.errors }}
        <form action="" method="post">
             {%  csrf_token %}
             <p>
                 <label for="id_username">用户名:</label>
                 <input type="text" name="username" value="{{ 用户.username }}" maxlength="150" required id="id_username">
                 <span class="helptext">必填。150个字符或者更少。包含字母，数字和仅有的@/./+/-/_符号。</span>
             </p>
            <p>
                <label for="id_email">电子邮件地址:</label>
                <input type="email" name="email" value="{{ 用户.email }}" maxlength="254" id="id_email">
            </p>
            <p>
                <label for="id_name">Name:</label>
                <input type="text" name="name" maxlength="50" id="id_name" value="{{ 用户.average_user.name }}">
            </p>
            <p>
                <label for="id_birthday">Birthday:</label>
                <input type="date" name="birthday" id="id_birthday" value="{{ 用户.average_user.birthday }}">
            </p>
            <button type="submit">提交</button>
        </form>

</body>
</html>